:root {
  --neutral: #f8f3f8;
  --contrast: #181010;
  --primary-accent: #48a058;
  --secondary-accent: #f0b088;
  --danger-accent: #b3181c;
}

@font-face {
  font-family: "PokemonGB";
  src: url("../assets/fonts/Pokemon\ GB.woff") format("woff"),
    url("../assets/fonts/Pokemon\ GB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PokemonGB", sans-serif;
  font-size: 12px;
  background-color: var(--neutral);
}

/* Contenedor principal con sidebar y contenido */
.container-fluid {
  display: flex;
  height: 100vh; /* Para que ocupe toda la pantalla */
  margin: 0;
  padding: 0;
}
/* Sidebar fija sin espacios adicionales */
.sidebar {
  width: 250px;
  height: 100vh; /* Asegura que ocupe toda la pantalla */
  background-color: var(--contrast);
  color: var(--neutral);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.sidebar a {
  text-decoration: none;
  color: var(--neutral);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #495057;
}

.sidebar a i {
  margin-right: 15px;
}

/* Estilos de Usuario en la Sidebar */
.user-info {
  position: absolute;
  bottom: 35px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic span {
  margin-top: 15px;
}

.btn-salir {
  width: 200px;
  margin-top: 25px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-content-historial,
.main-content-graficos,
.main-content-index {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  background-color: var(--neutral);
  min-height: 100vh;
}

/* GRAFICOS */

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
}

.titulo-charts {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 50px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 300px;
}
